body{
    margin: 40px;
    padding:0;
    background-color: blueviolet;
}
header{
 text-align: center;
 font-size: 60px;
 color: antiquewhite;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 border-bottom: 6px solid  rgba(0, 0, 0, 0.247) ;
 margin-bottom: 40px;


}
button{
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(211, 120, 120);
}
.btn{
    display: flex;
    justify-content: space-around;
    gap:10px;
    flex-wrap: wrap;
}
button:hover{
    background-color: rgb(124, 122, 122);
    cursor: pointer;
}

#output{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    color: beige;
}
